@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Olá</h1>
    <p class="lead">Por favor aproveite a estadia em nosso site.</p>
 </div>

<div class="row">
    <div class="col-md-6">
        <h2>Incrições de Estudantes</h2>
        <p>
            Realize sua inscrição
        </p>
        <p><a class="btn btn-default" href=@Url.Action("CadastrarEstudante","Inscricao")>Inscrever &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Associar Aulas aos Professores</h2>
        <p>
            Realize a associação
        </p>
        <p><a class="btn btn-default" href=@Url.Action("CadastrarAula","Leciona")>Associar &raquo;</a></p>
    </div>
</div>